html {
    scroll-behavior: smooth;
}
body {
    margin: 0 auto;
}

.watermark {
    display: none;
    z-index: 10;
    position: fixed;
    left: 10vw;
    top: 35vh;
    font-size: 4cm;
    text-align: center;
    color: white;
    font-family: cursive;
    opacity: .1;
}

.container-main-page {
    margin-top: -12px;
}


.last-container {
    clear: both;
    background-color: rgb(33, 38, 58);
    padding: 80px;
}
.last-container h3 {
    color: white;
    font-size: large;
    font-family: 'Rubik', sans-serif;
}
.last-container > div {
    vertical-align: top;
    display: inline-block;
    margin-right: 2cm;
}
.last-container a {
    text-decoration: none;
    color: rgb(139, 180, 255);
    font-size: medium;
    font-family: 'Lato', sans-serif;
}
.last-container a:hover {
    text-decoration: underline;
    color: rgb(60, 128, 255);
}
.last-container div {
    margin-bottom: 6px;
}

@media screen and (max-width: 930px) {
}

@media screen and (max-width: 920px) {
    .watermark  {
        font-size: 1cm;
    }
    .last-container {
        padding: 40px;
    }
}

@media screen and (max-width: 680px) {
    .last-container {
        padding: 40px;
    }
}